.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.track {
  justify-content: center;
  gap: 10px;
  padding: 4px 0;
}
#vis-overlay {
  position: absolute;

  height: 450px;
  overflow: hidden;
  margin-left: 0;
  left: 35px;
}
#overlay-scroll {
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  left: 0px;
}
button.discardBtn {
  background-color: rgb(242, 223, 226);
  color: rgb(195, 19, 45);
}
#vis-overlay .x-grid {
  color: #bdbcc2;
  padding-left: 2px;
  display: inline-table;
  height: 480px;
  background-repeat: repeat;
  width: 100px !important;
  border-right: 1px solid #bdbcc2;
}

#vis {
  background-attachment: local;
  background-color: rgb(249, 249, 254, 0.3);

  align-items: start;
  overflow-x: scroll;
  margin-left: 0.1px;
  width: 100%;
}
.editPanelContainer {
  width: 70vw;
  max-width: 70vw;

  max-height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid rgb(214, 212, 220);
}
.footerbtns {
  width: 70vw;
}

.edit-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
.edit-right label,
.edit-right header {
  font-weight: 500;
  font-size: 0.9em;
  color: #696d76;
}
.edit-right section {
  padding-bottom: 10px;
}
.edit-right .adsr label {
  text-transform: uppercase;
  font-size: 0.5em;
  color: #747d8a;
  font-weight: 800;
}
.y-axis {
  align-items: end !important;
  border-right: 1px solid #9896a7;
  padding-right: 0px;
  color: #9896a7;
}
.y-label hr {
  border-color: #9896a7;
}
.y-bar {
  position: relative;
  display: inline-flex !important;
  align-items: center !important;
  height: 30px;
}
.y-label {
  left: 0;
  height: 30px;
  text-align: right;
  display: inline-flex !important;
  align-items: center !important;
}
.note-bar {
  position: absolute;
  background-color: #614ed7;
  height: 15px;
  border-radius: 5px;
}
.note-bar .leftdrag {
  height: 15px;
  width: 2px;
  background-color: red;
  position: absolute;
  left: 0;
}
.note-bar .rightdrag {
  height: 15px;
  width: 2px;
  background-color: red;
  position: absolute;
  right: 0;
}
.note-bar:hover {
  outline: 3px solid rgb(16, 246, 223);
}
.note-bar.active {
  outline: 1.5px solid rgb(16, 246, 223);
}
.editModalWindow {
  max-width: 90vw !important;
}
.track .playbtn {
  display: none;
  background-color: #e4e0f6;
  padding: 5px;
  color: #4e07d3;
  border-radius: 15px;
}
.track .playbtn.playing {
}
.track .index {
  display: inline-table;
  padding: 10px;
}
.track:hover .playbtn {
  display: inline-table;
}
.track:hover .index {
  display: none;
}
.tracklist table {
  width: 50%;
  max-width: 500px;
}
.tracklist tr {
  text-align: left;
}
.tracklist tr .right {
  text-align: right;
}
.track:hover .track .index {
  display: none;
}
.track .playbtn.d {
  display: inline-table;
  background-color: #4e07d3;
  color: #e4e0f6;
}
.track .index.dn {
  display: none;
}
.track .idx {
  padding: 15px;
  text-align: center;
  width: 220px;
  height: 65px;
}
th.idx {
  text-align: center;
}

.dropdownContainer {
  position: relative;
}
.control-btns {
  z-index: 99;
}
.dropdown {
  position: absolute;
  background-color: white;
  top: 101%;
  right: 0;
  padding: 14px;
  width: 220px;
  display: none;
  border: 1px solid rgb(230, 226, 240);
  box-shadow: 1px 1px 12px rgba(214, 216, 223, 0.25);
}
.editBtn {
  text-decoration: underline;
}
input.addNote {
  background-color: #6f53fa;
  margin-top: 5px;
  color: white;
  padding: 4px 12px;
  border-radius: 5px;
}
.control-btns {
  align-self: flex-start;
  width: 100%;
  justify-content: space-between !important;
}
.dropdown.show {
  display: table;
}
button.primary {
  background: #6c58ef;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
}
button.primary:hover {
  background: #614ed7;
}
#keyboard {
  padding: 12px 0;
  justify-content: center;
}
#uploaded-cover {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
#keyboard .key {
  background: #f3f5ff;

  color: #614ed7;
  font-size: 25px;
}
.cover-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
label#uploadBtn {
  overflow: hidden;
  position: relative;
  max-height: 200px;
  background: #614ed7;
  font-size: 12px;
  padding: 6px 3px;
  color: white;
  border-radius: 12px;
}
label#uploadBtn input {
  position: absolute;
  top: -100%;
}

#keyboard .label {
  color: #6c58ef;
}
#keyboard .key.active {
  background-color: #6c58ef;
  border-color: #6c58ef;
  color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
