.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.track {
  justify-content: center;
  gap: 10px;
  padding: 4px 0;
}

#vis {
  align-items: start;
  overflow: scroll;
}
.editPanelContainer {
  width: 70vw;
  max-width: 70vw;
  height: 60vh;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid rgb(214, 212, 220);
}
.footerbtns {
  width: 70vw;
}
.edit-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
.edit-right label,
.edit-right header {
  font-weight: 500;
  font-size: 0.9em;
  color: #696d76;
}
.edit-right section {
  padding-bottom: 10px;
}
.edit-right .adsr label {
  text-transform: uppercase;
  font-size: 0.5em;
  color: #747d8a;
  font-weight: 800;
}
.y-axis {
  align-items: end !important;
  border-right: 1px solid #9896a7;
  padding-right: 0px;
  color: #9896a7;
}
.y-label hr {
  border-color: #9896a7;
}
.y-bar {
  position: relative;
  display: inline-flex !important;
  align-items: center !important;
  height: 30px;
}
.y-label {
  left: 0;
  height: 30px;
  text-align: right;
  display: inline-flex !important;
  align-items: center !important;
}
.note-bar {
  position: absolute;
  background-color: #614ed7;
  height: 15px;
  border-radius: 5px;
}
.note-bar:hover {
  outline: 3px solid rgb(16, 246, 223);
}
.note-bar.active {
  outline: 1.5px solid rgb(16, 246, 223);
}
.editModalWindow {
  max-width: 90vw !important;
}
.track .playbtn {
  display: none;
}
.track .index {
  display: inline-table;
}
.track:hover .playbtn {
  display: inline-table;
}
.tracklist table {
  width: 50%;
  max-width: 500px;
}
.tracklist tr {
  text-align: left;
}
.tracklist tr .right {
  text-align: right;
}
.track:hover .index {
  display: none;
}
.track .playbtn.d {
  display: inline-table;
}
.track .index.dn {
  display: none;
}
.track .idx {
  width: 50px;
}
.dropdownContainer {
  position: relative;
}
.control-btns {
  z-index: 99;
}
.dropdown {
  position: absolute;
  background-color: white;
  top: 101%;
  left: 0;
  padding: 14px;
  width: 220px;
  display: none;
  border: 1px solid rgb(230, 226, 240);
  box-shadow: 1px 1px 12px rgba(214, 216, 223, 0.25);
}
.control-btns {
  align-self: flex-start;
}
.dropdown.show {
  display: table;
}
button.primary {
  background: #6c58ef;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
}
button.primary:hover {
  background: #614ed7;
}
#keyboard {
  padding: 12px 0;
  justify-content: center;
}
#keyboard .key {
  background: white;
  font-size: 25px;
}
#keyboard .label {
  color: #6c58ef;
}
#keyboard .key.active {
  background-color: #6c58ef;
  border-color: #6c58ef;
  color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
